h1 {
    text-align: center;
}

.react-bootstrap-form {
    margin: auto;
    width: 25vw;
}

.friends-list, .add-friend, .login-page {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 1rem 0;
}

.card {
    min-width: 18rem;
    max-width: 18rem;
    margin: 1rem 0;
}

.card-deck {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
}

.spinner-border {
    position: fixed;
    top: 40%;
    left: 50%;
}